.my_container h1{
  color: red;
  text-align: center;
  position: center;
  text-transform: uppercase;
  padding: 30px 0px;
}
.menu{
  background: #000000;
}
.menu-items .active{
  background: blue;
}
.menu .menu-items a{
  text-decoration: none;
  color: fff;
  padding: 10px 30px;
  display: flex;
}
.menu .menu-items{
  display: flex;
  justify-content: center;     
  align-items: center;         
  gap: 20px; 
}
.breaking-news-section{
  padding: 0px 30px 60px;
  display: flex;
}
#btext{ 
  width: 200px;
  font-size: 16px;
  text-transfrom: uppercase;
  color: var(--colorBrown);
  font-weight: 600;
  margin: auto 0;
}
  
  
  
