.page {
background: white;
color: black;
transition: background 0.3s, color 0.3;
}

.top-section{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
}

.my_container h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
  margin: 0;
background: red;
}

.menu {
position: relative;
z-index: 1200;
  background: linear-gradient(135deg, #000, #090979, #020024, #4b0082, #000);
animation: galaxyMove 20s ease infinite;
padding: 10px 0;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

@keyframes galaxyMove{
0% { background-position: 0% 50% }
50% { background-position: 100% 50%}
100% { background-position: 0% 50% }
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu .menu-items a {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  display: inline-block;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
  border-radius: 5px;
}


.menu .menu-items a:hover {
  background: blue;
  transform: scale(1.05);
}

#darkmode-toggle { 
display: none; 
}

.darkmode-toggle {
  position: fixed;
  left: 5px;
  top: 115px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1d51;
  box-shadow: 0 0 10px #a64bf4, 0 0 20px #a64bf4, 0 0 30px #a64bf4, 0 0 40px #a64bf4;
  transition: all 0.3s;
}

.darkmode-toggle .star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle infinite alternate;
}

@keyframes twinkle {
  0% { opacity:0.3; }
  50% { opacity:1; }
  100% { opacity:0.3; }
}

.toggle-icon::before {
  content: "\f186"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #111;
  transition: all 0.3s;
}

#darkmode-toggle:checked + .darkmode-toggle {
  background: black;
  box-shadow: 0 0 10px #FFA500,0 0 20px #FFA500,0 0 30px #FFA500,0 0 40px #FFA500;
}

#darkmode-toggle:checked + .darkmode-toggle .toggle-icon::before {
  content: "\f185"; 
  color: orange;
}

.earth-toggle {
  position: fixed;
  right: 5px;
  top: 115px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  z-index: 2000;
  border-radius: 50%;
  background: radial-gradient(circle at center, green, #2a5298);
  box-shadow: 0 0 10px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
  animation: spinEarth 25s linear infinite;
  transition: 0.3s;
  text-decoration: none;
}

.earth-toggle:hover {
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
}

@keyframes spinEarth {
from { transform: rotate(0deg);}
to { transform: rotate(360deg); }
}

.breaking-news-section {
  background: green;
  color: white;
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#bntext {
  margin-right: 15px;
  white-space: nowrap;
  color: yellow;
}

marquee {
  width: 100%;
}

.breaking-news {
  display: inline-block;
  margin-right: 80px;
  color: white;
  text-decoration: none;
}

.bntime {
  display: inline;
  margin-right: 10px;
  font-size: 12px;
  color: #ffe;
}

.news-card {
height: 550px;
border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
margin-bottom: 30px;
transition: transform 0.3s, box-shadow 0.3s color
}

.news-card .card-body{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.news-card img {
  width: 100%;
  height: auto;
  display: block;
}

.news-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.panahon-section { 
padding-top: 230px
display: display;
justify-content: center;
align-items: center;
}

.panahon-section iframe {
width: 100%;
height: 71vh;
border-radius: 15px;
}


.footer{
  font-size: 14px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 20px 0;
transition: background 0.3s, color 0.3s;
}

.news-section {
padding-top: 220px;
}


#darkmode-toggle:checked ~ .page {
background: #000;
color:: #eee;
}

#darkmode-toggle:checked ~ .page .news-section { 
background: #121212; 
color: #eee;
}

#darkmode-toggle:checked ~ .page .news-section .news-card { 
background: #1e1e1e; 
color: #eee; 
}
