.my_container h1{
  color: red;
  text-align: center;
  position: center;
  text-transform: uppercase;
  padding: 30px 0px;
}
.menu{
  background: #000000;
}
.menu-items .active{
  background: blue;
}
.menu .menu-items a{
  text-decoration: none;
  color: fff;
  padding: 10px 30px;
  display: flex;
}

.menu .menu-items {
  display: flex;
  justify-content: center;     
  align-items: center;         
  gap: 20px
}

.breaking-news-section {
  background: green;
  color: white;
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#bntext {
  margin-right: 15px;
  white-space: nowrap;
color: brown;
}

marquee {
  width: 100%;
}

.breaking-news {
  display: inline-block;
  margin-right: 80px;
  color: black;
  text-decoration: none;
}

.bntime {
  display: inline;
  margin-right: 10px;
  font-size: 12px;
  color: black;
}
  
  
